<!doctype html>

<html>
<head>
<style>
body
{
    background-color: lightblue;
    background-image: url("http://www.dastraining.de/images/pictures/shutterstock_94066795.jpg")
}
p
{
    border-style: dotted;
    border-color: red;
}
div
{
    border-left: 6px solid green;
    background-color: lightgrey;
}

</style>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="name"/>
    <button type="submit">Login</button>
</form>
{{/user}}
{{#user}}
Welcome, {{name}}!<br />
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/create-event" method="post">
    <input type="text" placeholder="Description" name="description" size="50"/>
    <input type="datetime-local" name="dateTimeStart" value="{{now}}"/>
    <input type="datetime-local" name="dateTimeEnd" value="{{oneAhead}}"/>
    <button type="submit">Add Event</button>
</form>
{{/user}}
<p>
{{#events}}
<div>
{{description}}&nbsp;&nbsp;&nbsp;{{dateTimeStart}}&nbsp;&nbsp;&nbsp;{{dateTimeEnd}}<br />
</div>
{{/events}}
<p/>
</body>
</html>